.search-block form {
  width: 50%;
  margin: 10px auto;
  display: flex;
}

.search-block form input, .search-block form button {
  box-sizing: border-box;
  border: none;
  outline: 0;
}

.search-block form input {
  border: 1px solid #ddd;
  font-size: 1rem;
  padding: 4px 12px;
  flex-grow: 1;
}

.search-block form button {
  width: 7%;
  background: rgb(225, 86, 81);
  cursor: pointer;
}

.search-block form button:hover {
  background: rgba(225, 86, 81, .7);
}

.search-block form button svg{
  width: 100%;
  height: auto;
}

/* icon svg styling */

#icon-search {
  fill: rgba(255, 255, 255, .7)
}
