button {
  font-size: 14px;
  padding: 14px 0;
  width: 200px;
  color: white;
  margin: 20px 4px;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
}

button:focus {
  outline: none
}
